.imagenes {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap; /* Envolver elementos en filas */
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
}

.planta{
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-inline: 20px;
    height: auto;
    width: auto;
    max-width: 200px;
    max-height:auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: rgb(236, 216, 180);
    text-align: center;
    color:black;
    font-size: 30px;
    box-shadow: 0px 0px 5px 2px gray;
}

.planta:hover{
    background-color: rgb(245, 236, 220);
    animation:hover .3s forwards;
    box-shadow: 0px 0px 10px 2px gray;
}
img {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

a{
    font-style: none;
}