<div class="container">
    <img class="imagen" src={{plantDetails.plantImage}}>
    <div class="informacion">
        <ul><label class="titulo">{{plantDetails.plantName}}</label></ul>
        <ul><label  class="subtitulo">Tipo:</label><label> {{plantDetails.plantType}}</label></ul>
        <ul><label  class="subtitulo">Origen:</label><label> {{plantDetails.plantOrigin}}</label></ul>
        <ul><label class="subtitulo">Descripcion: </label><label>{{plantDetails.plantDescription}} </label></ul>
        <ul class="regresar"><button  routerLink="/wiki">Regresar</button></ul>
    </div>
</div>