
.social {

    margin-left: auto;
    margin-right: auto;

    width: 50%;
}


.publicacion-photo {
    border-radius: 100%;
    width: 50px;
}

.publicacion-photo:hover{
    transform: scale(1.1) ;

}


.publicacion {
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color: rgb(255, 241, 216);
    border-radius: 10px;
    padding: 2%;
}



.publicacion-header {
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}
.publicacion-header-container {
    margin-left: 2%;
    display:flex;
    flex-direction: column;
}

.publicacion-info {
    display: flex;
    justify-content:space-between;
}

.publicacion-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.publicacion-buttons{
    width: 40%;
}
.publicacion-content-text{
    margin-bottom: 10px;
    white-space: pre-wrap;
}

.publicacion-content-img{
    width: 100%;;
}


.publicacion-actions {
    padding: 5px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    
}

.publicacion-buttons {
    margin-inline: 10px
}

.publicacion-page-name{
    color:green;
    font-weight: bold;
    cursor: pointer;
}

.publicacion-username{
    cursor: pointer;
    width: fit-content;
}
.publicacion-page-name:hover{
    transform: scale(1.1);
}

.publicacion-username:hover{
    transform: scale(1.1);
}

.publicacion-comments{
    margin-top: 2%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}
