<div class="home">
    <app-dual-sidebars/>
    <div class="social">

        <div class="publicacion">
            <header class="publicacion-header">
                <img class="publicacion-photo"
                    src="https://i.pinimg.com/originals/7b/c8/f1/7bc8f13e8b94c36109904b4c85e35d71.jpg">

                <div class="publicacion-header-container">
                    <div class="publicacion-page-name">Cactus México</div>
                    <div class="publicacion-username">Juan ⭐</div>
                </div>
            </header>
            <div class="publicacion-content">
                <div class="publicacion-content-text">
                    Ayuda, alguien sabe que esta pasando con mi cactus? 😱
                </div>
                <img class="publicacion-content-img"
                    src="https://th.bing.com/th/id/OIP.Z1ezyFn0-HZLK_U2hHwTFwHaE8?rs=1&pid=ImgDetMain">

            </div>
            <div class="publicacion-info">
                <div>😢🤣👍10</div>
                <div>🗨️6 🔁1</div>
            </div>
            <nav class="publicacion-actions">
                <button class="publicacion-buttons">👍 Me gusta</button><button class="publicacion-buttons">🗨️
                    Comentar</button><button class="publicacion-buttons">🔁 Compartir</button>
            </nav>

            <div class="publicacion-comments">

                <app-comment/>


        </div>
    </div>