<div class="product">
    <img class="product-img"
        src="https://th.bing.com/th/id/R.351d5eee413e014dc26314e8636a4dc0?rik=o%2fE168DL286k%2fw&pid=ImgRaw&r=0">
    <div class="product-content">
        <div class="product-info">
            <div class="product-name">
                Maceta blanca
            </div>
            <div class="product-price">
                $40
            </div>
        </div>
        <div class="product-actions">
            <div class="product-quantity">
                <button class="product-quantity-button">-</button>1<button class="product-quantity-button">+</button>
            </div>
            <button>Añadir a la cesta</button>
        </div>
        <div class="product-description">
            <p>
                Dale un toque de sofisticación a tu hogar o jardín con nuestra hermosa maceta blanca para cactus.
                Perfecta para amantes de las plantas y el diseño minimalista.

            <p>Características:</p>

            <p>Material de Alta Calidad: Hecha de cerámica resistente y duradera, esta maceta asegura una larga vida
                útil y es fácil de limpiar.</p>
            <p>Diseño Elegante: Con un estilo moderno y líneas limpias, esta maceta blanca se integra perfectamente en
                cualquier decoración, ya sea clásica o contemporánea.</p>
            <p>Tamaño Ideal: Disponible en varios tamaños, desde pequeñas de 10 cm de diámetro para cactus
                individuales, hasta opciones más grandes de 20 cm para arreglos de suculentas.</p>
            <p>Drenaje Eficiente: Incluye orificios de drenaje en la base para evitar el encharcamiento y mantener las
                raíces saludables. Además, viene con un platillo a juego para recoger el exceso de agua.</p>
            <p>Acabado Impecable: La superficie blanca lisa proporciona un contraste perfecto que realza la belleza de
                tus plantas, destacando los tonos verdes y las texturas únicas de tus cactus.</p>
        </div>

    </div>
    
</div>
<button routerLink="/shop" class="volver-button">volver</button>
