<div class="comment">
    <img class="comment-photo"
        src="https://static.vecteezy.com/system/resources/previews/005/544/718/original/profile-icon-design-free-vector.jpg">
    <div class="comment-content">
        <div class="comment-username">María</div>
        <div class="comment-content-text">
            ¡Hola! Parece que tu cactus necesita un poco más de atención. Asegúrate de regarlo
            regularmente y colocarlo en un lugar con suficiente luz solar. ¡Espero que se recupere
            pronto!
        </div>
        <img class="comment-content-img" src="">
    </div>
</div>

<div class="comment">
    <img class="comment-photo"
        src="https://th.bing.com/th/id/OIP.cmYpqgTCUEZBBOhDDylLHAAAAA?rs=1&pid=ImgDetMain">
    <div class="comment-content">
        <div class="comment-username">Pedro</div>
        <div class="comment-content-text">
            Pobrecito, los cactus también tienen malos días. Espero que mejore pronto.
        </div>
        <img class="comment-content-img"
            src="https://media.tenor.com/g5PkAQHEYegAAAAC/crying-homer-homero-llorando.gif">

    </div>

</div>

<div class="comment">
    <img class="comment-photo"
        src="https://i.pinimg.com/originals/df/5f/5b/df5f5b1b174a2b4b6026cc6c8f9395c1.jpg">
    <div class="comment-content">
        <div class="comment-username">Andrea</div>
        <div class="comment-content-text">
            ¡JAJAJAJA! Me recordó a mi cactus cuando olvidé regarlo por una semana.
        </div>
        <img class="comment-content-img"
            src="https://img.freepik.com/vector-premium/emoji-risa-emoticon-cubre-boca-mano-mientras-rie-sonrie-cara-enrojecida_264875-89.jpg?w=2000">
    </div>

</div>

<div class="comment">
    <img class="comment-photo" src="https://i.pinimg.com/originals/ec/64/0f/ec640fe59dd48069fd1361d888d703c1.jpg">
    <div class="comment-content">
        <div class="comment-username">Ana</div>
        <div class="comment-content-text">
            "Oh no, tu cactus parece un poco triste. Recuerda que la clave es el equilibrio: agua, luz y amor. ¡Espero que se recupere pronto!"
        </div>
        <img class="comment-content-img" src="">
    </div>
</div>

<div class="comment">
    <img class="comment-photo" src="https://i.pinimg.com/originals/8f/66/1f/8f661f65bbc47d7bdb2f6682e2e52a20.jpg">
    <div class="comment-content">
        <div class="comment-username">Carlos</div>
        <div class="comment-content-text">
            "Ánimo, pequeño cactus. ¡Tú puedes superarlo! Un poco de agua y sol harán maravillas. 💪🌵"
        </div>
        <img class="comment-content-img" src="">
    </div>
</div>

<div class="comment">
    <img class="comment-photo" src="https://i.pinimg.com/236x/05/eb/89/05eb8920feaeea11115158fe2602d051.jpg">
    <div class="comment-content">
        <div class="comment-username">Laura</div>
        <div class="comment-content-text">
            "¡Qué pena ver a tu cactus en esa situación! A veces olvidamos que las plantas también necesitan atención. ¡Espero que se recupere pronto!"
        </div>
        <img class="comment-content-img" src="https://th.bing.com/th/id/R.6f31f783177bfb3474e7c2a8bc80f50b?rik=Q5G5PlLaZANX0w&pid=ImgRaw&r=0">
    </div>
</div>

