<h1 class="titulo">Recuperar contraseña</h1>

<div class="mensaje">¿Olvidaste tu contraseña? No hay problema.
    Ingrese su dirección de correo electrónico a continuación
    y le enviaremos un código de 6 dígitos para permitirle
    establecer una nueva contraseña</div>

<div class="container">
    <div class="form-group">
        <label for="correo">Correo electronico:</label>
        <input type="text" id="Correo" name="correo" [(ngModel)]="email">
    </div>
</div>

<div class="botones">
    <div>
        <a routerLink="/login">
        <button type="button">Regresar</button>
    </a>
    </div>
    <div>
        <button type="submit"  (click)="resetPassword()">Enviar codigo</button>
    </div>
</div>