<div class="container">
    <img class="imagen" src="https://th.bing.com/th/id/R.bfd15ccff757381a7ef50cbf1481a539?rik=ZJ%2fUzWcg8peKDw&pid=ImgRaw&r=0">
    <div class="informacion">
        <ul><label class="titulo">Echeveria</label></ul>
        <ul><label  class="subtitulo">Tipo:</label><label> Suculenta</label></ul>
        <ul><label  class="subtitulo">Origen:</label><label> América Central y América del Sur</label></ul>
        <ul><label class="subtitulo">Descripcion: </label><label>Las echeverias son plantas suculentas con hojas carnosas que forman rosetas. Son populares en jardinería por su belleza y resistencia. </label></ul>
        <ul class="regresar"><button  routerLink="/wiki">Regresar</button></ul>
    </div>
</div>