
<nav>
  <div class="header-container">
    <a class="cactuspedia" routerLink="/">
    <h1>Cactuspedia</h1>
    </a>
    <ul>
      <li>
        <a routerLink="/login">
        <button class="button-primary">Iniciar sesión</button>
      </a>
      </li>
      <li>
        <a routerLink="/new-user">
        <button class="button-primary">Crear cuenta</button>
      </a>
      </li>
      <li>
        <a routerLink="/home">
        <button class="button-primary">home</button>
      </a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
