<h1>Juegos:</h1>
<div class="games">
    <nav class="games-container">

        <div class="game">
            <img class="game-img"
                src="https://i.pinimg.com/originals/fe/42/df/fe42df6add33fd958e97367e138eb226.jpg">
            <div class="game-info">
                <div class="game-name">
                    Jardín de Suculentas
                </div>

            </div>
        </div>

        <div class="game">
            <img class="game-img"
                src="https://th.bing.com/th/id/OIP.ADngZbVrwL-G5UoCy6_ttAHaFj?rs=1&pid=ImgDetMain">
            <div class="game-info">
                <div class="game-name">
                    Cactus Runner
                </div>

            </div>
        </div>

        <div class="game">
            <img class="game-img"
                src="https://pics.craiyon.com/2023-12-26/GsEok71CR9KoufdrV_-3hA.webp">
            <div class="game-info">
                <div class="game-name">
                    Defensa del Desierto
                </div>

            </div>
        </div>

        <div class="game">
            <img class="game-img"
                src="https://as1.ftcdn.net/v2/jpg/05/47/46/52/1000_F_547465235_CiihduPvXd9PagT7DObscCyswbeb9wBS.jpg">
            <div class="game-info">
                <div class="game-name">
                    Cactus Chef
                </div>

            </div>
        </div>

        <div class="game">
            <img class="game-img"
                src="https://th.bing.com/th/id/OIG4.O.2U6hXoWiOabWI3yk6E?w=1024&h=1024&rs=1&pid=ImgDetMain">
            <div class="game-info">
                <div class="game-name">
                    Cactus y Suculentas: El Reino Perdido
                </div>

            </div>
        </div>

        <div class="game">
            <img class="game-img"
                src="https://img.tapimg.net/market/lcs/c8f1bcc6dc0be3b77ac73ea33ba21403_360.png?imageMogr2/auto-orient/strip">
            <div class="game-info">
                <div class="game-name">
                    Aventura del Cactus Viajero
                </div>

            </div>
        </div>

    </nav>
</div>