<label class="eslogan">Tu oasis de conocimiento sobre cactus y suculentas</label>

<div class="comentarios">
    <div class="comentario">
        <div class ="nombre">
            <img src="https://static.vecteezy.com/system/resources/previews/019/879/186/large_2x/user-icon-on-transparent-background-free-png.png" alt="">
            <label >Laura</label>
        </div>
        <label >¡Gran sitio! Los consejos de cuidado son top. 😊</label>
    </div>
    <div class="comentario">
        <div class ="nombre">
            <img src="https://static.vecteezy.com/system/resources/previews/019/879/186/large_2x/user-icon-on-transparent-background-free-png.png" alt="">
            <label >Diego</label>
        </div>
        <label >Excelente 👍</label>
    </div>
    <div class="comentario">
        <div class ="nombre">
            <img src="https://static.vecteezy.com/system/resources/previews/019/879/186/large_2x/user-icon-on-transparent-background-free-png.png" alt="">
            <label >Juan</label>
        </div>
        <label >La galería de cactus es inspiradora. ¡Gracias!</label>
    </div>
</div>
<label class="terminos">Al registrarte, aceptas los <a href="" >Términos de Servicio</a> y la <a href="" >Política de Privacidad</a></label>


