<div class="subscription-container">
    <header class="header">
      <h1>Suscripción Jardín Mágico</h1>
    </header>
    <section class="content">
      <div class="subscription-info">
        <h2>¡Únete a Jardín Mágico y Disfruta de Grandes Beneficios!</h2>
        <ul>
          <li>Acceso a nuestra IA para el cuidado de plantas.</li>
          <li>Acceso a una wiki de cactus y suculentas.</li>
          <li>Obtén una insignia de miembro Premium.</li>
          <li>Tus publicaciones serán recomendadas más.</li>
        </ul>
      </div>
      <h3>Explora las características:</h3>
      <div class="screenshots">
        
        
        <div class="screenshot">
            <p>Insignia exlcusiva:</p>
          <img src="../../assets/img/insignia.png" alt="insignia">
        </div>
        
        <div class="screenshot">
            <p>Chat con IA</p>
            <img src="../../assets/img/ia.png" alt="Chat IA">
          </div>
          
        <div class="screenshot">
            <p>Wiki:</p>
          <img src="../../assets/img/wiki.png" alt="Wiki">
        </div>
      </div>
      <div class="cta-button">
        <button>Suscríbete Ahora</button>
      </div>
    </section>
  </div>
  