.titulo{
    font-weight: bolder;
    text-align: center;
    margin-bottom: 40px;
    font-size:70px;
 }

 .mensaje{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
    font-size: 30px;
 }

 
.form-group {
    margin-bottom: 60px; /* Espacio entre los grupos de entrada */
    font-size: 30px;
  }

  
  input[type="text"],
  input[type="password"] {

    width: 75%; /* Ancho completo del input */
    padding: 8px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    border: 1px solid #ccc; /* Borde del input */
  }

    
  .container {
    margin-top: 60px;
    font-weight: bolder;
    text-align: center;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    width: 80;
    
  }
  button {
    background-color: #5271FF;
    color: white;
    border-radius: 20px;
    padding: 10px 20px; /* Ajusta el tamaño del botón */
    border: none;
    cursor: pointer;
    font-size: 20px; /* Ajusta el tamaño de la fuente del botón */
    margin-inline:90px;
}

.botones{
    display: flex;
    justify-content: center;
}