<h1>Nuestros productos:</h1>
<div class="products">
    <nav class="products-container">

        <div class="product">
            <img class="product-img"
                src="https://th.bing.com/th/id/R.351d5eee413e014dc26314e8636a4dc0?rik=o%2fE168DL286k%2fw&pid=ImgRaw&r=0">
            <div class="product-info">
                <div class="product-name">
                    Maceta blanca
                </div>
                <div class="product-price">
                    $40
                </div>
            </div>
        </div>

        <div class="product">
            <img class="product-img"
                src="https://th.bing.com/th/id/R.da20c803a242835affa15eda4c7b5d91?rik=QRTRhDPdCH0uJg&pid=ImgRaw&r=0">
            <div class="product-info">
                <div class="product-name">
                    Llavero de cactus
                </div>
                <div class="product-price">
                    $20
                </div>
            </div>
        </div>

        <div class="product">
            <img class="product-img"
                src="https://th.bing.com/th/id/OIP.WTFRudCN_nelZUNhCmz95QHaGN?rs=1&pid=ImgDetMain">
            <div class="product-info">
                <div class="product-name">
                    Maceta de Cactus Pequeña
                </div>
                <div class="product-price">
                    $15
                </div>
            </div>
        </div>

        <div class="product">
            <img class="product-img"
                src="https://th.bing.com/th/id/OIP.LT1vLKJO870jnIdaAE3iVgHaHa?rs=1&pid=ImgDetMain">
            <div class="product-info">
                <div class="product-name">
                    Cactus Decorativo
                </div>
                <div class="product-price">
                    $25
                </div>
            </div>
        </div>

        <div class="product">
            <img class="product-img"
                src="https://i.etsystatic.com/25466880/r/il/4fe314/2995660399/il_1588xN.2995660399_llaj.jpg">
            <div class="product-info">
                <div class="product-name">
                    Cactus de Cerámica
                </div>
                <div class="product-price">
                    $30
                </div>
            </div>
        </div>

        <div class="product">
            <img class="product-img"
                src="https://th.bing.com/th/id/OIP.c2hxQtShC4fZ4CxovRmaeQHaHa?w=1140&h=1140&rs=1&pid=ImgDetMain">
            <div class="product-info">
                <div class="product-name">
                    Cactus de Peluche
                </div>
                <div class="product-price">
                    $18
                </div>
            </div>
        </div>

    </nav>
</div>